/*
    ALL ELEMENTS
*/
*:not(.playfieldMenuIcon) {
    -fx-font-family: "Source Sans Pro";
}


/*
    BOT WINDOW
*/
.bot {
    -fx-background-color: rgb(40, 40, 40);
}

.bot__title {
    -fx-font-size: 2em;
    -fx-text-fill: white;
    -fx-font-family: "Permanent Marker";
    -fx-padding: 5 0 5 0;
}

.bot__top {
    -fx-background-color: rgb(50, 50, 50);
}

#botPlayButton {
    -fx-pref-width: 90;
    -fx-pref-height: 90;
    -fx-rotate: 45;
    -fx-cursor: hand;
    -fx-font-size: 1.5em;
    -fx-background-color: white;
    -fx-border-color: white;
    -fx-border-width: 1;
    -fx-border-radius: 5%;
    -fx-text-fill: rgb(50, 50, 50);
}

#botPlayButton > * {
    -fx-rotate: -45;
}

#botPlayButton:hover {
    -fx-background-color: rgb(50, 50, 50);
    -fx-text-fill: white;
}

#strategySelector {
    -fx-pref-width: 120;
}
