/*
    ALL ELEMENTS
*/
*:not(.playfieldMenuIcon) {
    -fx-font-family: "Source Sans Pro";
}


/*
    PLAYFIELD
*/
.playfield {
    -fx-background-color: rgb(40, 40, 40);
}

.playfield__menuBar {
    -fx-background-color: rgb(50, 50, 50);
}

.playfield__menuBarButton {
    -fx-border-width: 0 0 0 0;
    -fx-outline: none;
    -fx-cursor: hand;
    -fx-background-color: transparent;
}

.playfield__stars {
    -fx-text-fill: rgb(230, 230, 230);
    -fx-font-size: 1.25em;
}

.playfield__menuIcon {
    -fx-text-fill: rgb(200, 200, 200);
    -fx-font-size: 2em;
    -fx-font-family: "Permanent Marker";
}

.playfield__level {
    -fx-text-fill: #333;
    -fx-background-color: rgb(230, 230, 230);
    -fx-pref-width: 90;
    -fx-pref-height: 90;
    -fx-font-size: 2.75em;
    -fx-rotate: 45;
}

.playfield__level > * {
    -fx-rotate: -45;
}

.playfield__tool {
    -fx-border-color: rgb(120, 120, 120);
    -fx-pref-width: 60;
    -fx-pref-height: 60;
    -fx-background-color: transparent;
    -fx-cursor: hand;
    -fx-rotate: 45;
}

.playfield__tool > * {
    -fx-rotate: -45;
}

.playfield__tool:hover {
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}

.playfield__tool:disabled {
    -fx-opacity: 1.0;
    -fx-border-color: rgb(50, 50, 50);
}

.playfield__tool__img:disabled {
    -fx-opacity: 0.4;
}

.playfield__block {
    -fx-font-size: 1.75em;
    -fx-font-weight: bold;
}

.playfield__block--bomb-mode {
    -fx-border-color: rgb(230, 230, 230);
    -fx-border-width: 2;
    -fx-border-radius: 4;
    -fx-scale-x: 0.95;
    -fx-scale-y: 0.95;
}


/*
    PLAYFIELD MENU
*/
.playfieldMenu {
    -fx-background-color: rgba(8, 8, 8, 0.75);
}

.playfieldMenu__Button {
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 1.45em;
    -fx-padding: 15 5 15 5;
    -fx-cursor: hand;
    -fx-pref-width: 160.0;
    -fx-pref-height: 50.0;
}

.playfieldMenu__Button:hover {
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}

#playfieldMenuContinue {
    -fx-background-color: #00bd56;
}

#playfieldMenuQuit {
    -fx-background-color: #df0054;
}

#playfieldMenuRestart {
    -fx-background-color: #eac100;
}


/*
    MAIN MENU
*/
.mainMenu {
    -fx-background-color: #333;
}

.mainMenu__icon {
    -fx-text-fill: white;
    -fx-font-family: "Permanent Marker";
    -fx-font-size: 4em;
    -fx-padding: 15 0 15 0;
}

.mainMenu__iconContainer {
    -fx-background-color: #444;
}

.mainMenu__ButtonsContainer {
    -fx-background-color: rgba(30, 30, 30, 0.85);
}

.mainMenu__PlayButtonContainer {
    -fx-pref-width: 375;
    -fx-pref-height: 200;
}

#mainMenuPlayButton {
    -fx-text-fill: #333;
    -fx-background-color: rgb(230, 230, 230);
    -fx-border-color: #333;
    -fx-border-width: 10;
    -fx-font-family: "Permanent Marker";
    -fx-font-size: 2.4em;
    -fx-font-weight: bold;
    -fx-pref-width: 140;
    -fx-pref-height: 140;
    -fx-cursor: hand;
    -fx-rotate: 45;
}

#mainMenuPlayButton > * {
    -fx-rotate: -45;
}

#mainMenuPlayButton:hover {
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}

.mainMenu__PlayButtonLine {
    -fx-pref-width: 375;
    -fx-pref-height: 100;
    -fx-border-width: 1 0 0 0;
    -fx-border-color: white;
}

.mainMenu__SettingsButton {
    -fx-pref-width: 70;
    -fx-pref-height: 70;
    -fx-background-color: transparent;
    -fx-text-fill: rgb(230, 230, 230);
    -fx-font-size: 1.5em;
    -fx-cursor: hand;
    -fx-border-color: rgb(230, 230, 230);
    -fx-border-width: 1;
    -fx-rotate: 45;
}

.mainMenu__SettingsButton > * {
    -fx-rotate: -45;
}

.mainMenu__SettingsButton:hover {
    -fx-background-color: rgba(230, 230, 230, 0.25) ;
}

.mainMenu__SettingsButton:pressed {
    -fx-border-width: 3;
    -fx-rotate: 55;
}


/*
    GAME OVER SCREEN
*/
.gameOverMenu__Title {
    -fx-text-fill: rgb(230, 230, 230);
    -fx-font-family: "Permanent Marker";
    -fx-font-size: 3.5em;
}

#gameOverMenuScore {
    -fx-pref-width: 90;
    -fx-pref-height: 90;
    -fx-text-fill: rgb(80, 80, 80);
    -fx-background-color: rgb(230, 230, 230);
    -fx-font-size: 3em;
    -fx-font-family: "Permanent Marker";
    -fx-rotate: 45;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}

#gameOverMenuScore > * {
    -fx-rotate: -45;
}

.gameOverMenu__Highscore {
    -fx-font-size: 2em;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

#gameOverMenuPlayAgain {
    -fx-background-color: #00bd56;

}

#gameOverMenuQuit {
    -fx-background-color: #df0054;
}


/*
    UNDO MENU
*/
#undoMenuTitle {
    -fx-text-fill: rgb(230, 230, 230);
    -fx-font-size: 2.5em;
    -fx-padding: 0 0 50 0;
}

#undoMenuConfirm {
    -fx-background-color: #00bd56;
}

#undoMenuAbort {
    -fx-background-color: #df0054;
}


/*
    HELP WINDOW
*/
.help {
    -fx-background-color: #333;
}

.help__top {
    -fx-padding: 10 0 10 0;
    -fx-background-color: #444;
}

.help__title {
    -fx-text-fill: white;
    -fx-font-family: "Permanent Marker";
    -fx-font-size: 3em;
}

#helpBackButton {
    -fx-background-color: transparent;
    -fx-cursor: hand;
}

#helpBackButton:hover {
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}

.help_h2 {
    -fx-text-fill: white;
    -fx-font-size: 1.5em;
    -fx-padding: 50 0 10 0;
    -fx-font-weight: bold;
}

.help__article {
    -fx-padding: 0 0 0 10;
}

.help__text {
    -fx-pref-height: 80;
    -fx-text-fill: white;
    -fx-font-size: 1.25em;
    -fx-background-color: transparent;
}

.help__credit {
    -fx-text-fill: #999;
    -fx-padding: 20 0 20 0;
}

.text-area {
    -fx-background-color: transparent;
}

.text-area .scroll-pane {
    -fx-background-color: transparent;
}

.text-area .scroll-pane .viewport{
    -fx-background-color: transparent;
}

.text-area .scroll-pane .content{
    -fx-background-color: transparent;
}